@font-face {
    font-family: "0xProto";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/0xProto-Regular.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}
html {
    font-size: max(calc((2vw + 2vh)/2), 20px);
}
body {
    margin: 0;
}
#app, main {
    height: 100vh;
    width: 100vw;

    text-align: center;
    font-family: '0xProto';
    color: var(--font-normal);
}
main {
    display: flex;
    flex-direction: column;

    background: var(--chat-box-bg);
    flex-grow: 1;
}

:root {
    --font-normal: #ece7eb;
    --chat-box-bg: #2a2a30;
    --control-panel-bg: #1F1F23;

    --main-border-radius: 8px;
    --default-margin: 8px;
}

#control-panel-master {
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.7fr;
    background: var(--control-panel-bg);
    height: max(22.75%, 124px);

    margin: 10px;
    border-radius: var(--main-border-radius);
}
#domain-panel {
    display: flex;
    background: var(--chat-box-bg);
    border-radius: var(--main-border-radius);
    
    margin: 20px;
}
#domain-panel div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 0.8rem;

    width: 100%;
    margin: 20px;
}
#domain-panel button {
    width: 15%;
}

.msg {
    margin: var(--default-margin);
    width: fit-content;
    height: fit-content;
}
.msg.sent-by-me {
    align-self: flex-end;
}
.msg:not(.sent-by-me) {
    align-self: flex-start;
}


/*
#title-app-name {
    font-size: 0.8rem;
    color: color-mix(in srgb, var(--font-normal) 50%, transparent);
    background-color: var(--chat-box-bg);

    text-align: left;

    justify-self: left;
    height: fit-content;
}
*/