html {
    background-color: rgb(18, 63, 131);
    text-align: center;
    color: white;
    font-family: "Cousine";
}
body {
    margin: 0;
}

@font-face {
    font-family: "Cousine";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/Cousine-Regular.ttf") format("truetype");
}

#app {
    height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    height: inherit;
}


:root {
    --bg-control-panel: #3C3836;
    --bg-join-panel: #46413f;

    --bg-message-box: #282828;
}

#control-panel {
    background-color: var(--bg-control-panel);
    height: 27%;

    display: flex;
}
#join-section {
    background-color: var(--bg-join-panel);

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 10px;
    padding: 10px;
}

#message-box {
    background-color: var(--bg-message-box);
    height: 73%;
}